.sideBar {
    height: 100vh;
    width: var(--width-val, "min-content");
    display: flex;
    position: relative;
    background-color: color-mix(in srgb, var(--color-srf) 50%, transparent);
    border-right: 1px solid var(--color-brd);
    margin-right: 5px;
    will-change: width;
    overflow-wrap:break-word;
    font-family: 'Roboto';
}

.resizeArea {
    position: absolute;
    right: -4px;
    top: 0;
    width: 7px;
    height: 100%;
    cursor: w-resize;
    /* background-color: red; */
}

.barContainer {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-right: 5px;
}

.bottomContainer {
    /* background-color: red; */
    margin-bottom: 20px;
}
.themeButton {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: 'Roboto';
    margin: 5px;
    padding: 5px 8px;
}

.sideBar nav {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    align-items: stretch;
}

.sideBarButton {
    border-radius: 6px;
    border: none;
    padding: 5px 8px;
    margin: 5px;
    text-align: left;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    background-color: inherit;
    text-decoration: none;
    color: var(--color-txt);
}

.sideBarButtonTitle {
    flex-grow: 1;
}

.sideBarButtonCount {
    font-size: 14px;
    /* color: rgb(90, 90, 90); */
}

.sideBarButton:hover {
    background-color: color-mix(in srgb, var(--color-scn) 50%, transparent);
}

.sideBarButton.active {
    background-color: var(--color-scn);
    color: var(--color-prm);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05);
}

