GRPC_SERVER_PORT=
GRPC_ENROLLMENT_PORT=


POSTGRES_HOST=
POSTGRES_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SSL_MODE=


HOST_CA_PATH=
CONTAINER_CA_PATH=

HOST_INT_CA_PATH=
CONTAINER_INT_CA_PATH=

HOST_INT_KEY_PATH=
CONTAINER_INT_KEY_PATH=


HOST_CREDS_PATH=./
CONTAINER_CREDS_PATH=