.agentsPage {
    height: fit-content;
}

.agentsPage>main {
    height: fit-content;
}

.agentCardsContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 5px;
    margin: 10px;
}

.bottomArea {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.addAgentButton {
    font-size: 20px;
    background-color: var(--color-prm);
    border-radius: 5px;
    border: none;
    color: var(--color-srf);
    padding: 5px 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

}

.addAgentButton a {
    color: var(--color-srf);
    text-decoration: none;
}